.sidebar span
{
	display: inline-block;
	padding: 1rem 1rem;
	margin: 0 .3rem;
	background-color: #333;
	color: #FFF;
	text-decoration: none;
	cursor: pointer;
}

.reddit-post
{
	background-color: #EEE;
	padding: 2rem 4rem;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
	margin: 2rem 0;
}